/***** BASE STYLE *****/


/** GRID **/

.full-width {
    width: 1200px;
}

.half-width {
    width: 600px;
}

.third-width: {
    width: 400px;
}

/***** HEADER *****/

header {
    height: 800px;
    background: url('../img/full-background.png');
    background-size: cover;
  }

/***** PORTFOLIO *****/


/***** ABOUT *****/

img #about {
  border: 12px solid #ffffff;
}

/***** CONTACT *****/


/***** FOOTER *****/
